# Python cache & virtual environment
__pycache__/
.gitignore
*.pyc
venv/
.env
.agento-env/
.claude
paper/

# Output / generated code
output/*.py
*.log
*.md
*.json
!README.md
*.txt

# IDE settings
.vscode/
.idea/

# Big directories
node_modules/
legacy_reports/
*.pdf